<center>
  <h2>    New serial was added to query  </h2>
  <h3>    <%=@serial_name%> db_id: <%=@serial%> <h3>
  <h2>  And will be downloaded via next link  </h2>
  <h4><%=@torrent%>      </h4>
  </center>
    debug:
    <%=@debug%>